// this works
// @import './common/variables.less';

// then it do not work, `styles` is defined in tsconfig.paths,
// Maybe the plugin can detect the import path, and deal with `tsconfig.paths`
// you can open next line to reproduct the bug
@import './common/variables';
@import '~styles/colors.less';

.container {
  padding: 32px;
  font-size: @fontSize;
  background: @white;

  .header-title {
    font-size: 16px;
  }

  .test-again {
    background: #fff;
  }
}
